@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<style>
    body {
        background-color: dimgrey;
    }
</style>

<div class="text-center">
    <h2 class="text-light pt-5">After proccessing your sql request server return empty result...</h2>

    <a class="text-light pt-5" asp-controller="Home" asp-action="Index">Home page</a>
</div>
