
<h2>The first SQL request:</h2>
<img src="~/Images/example1.png" class="img-thumbnail" />
<img src="~/Images/example1.1.png" class="img-thumbnail" />

<h2>The second SQL request:</h2>
<img src="~/Images/example2.png" class="img-thumbnail" />
<img src="~/Images/example2.2.png" class="img-thumbnail" />

<h2>The third SQL request:</h2>
<img src="~/Images/example3.png" class="img-thumbnail" />
<img src="~/Images/example3.1.png" class="img-thumbnail" />
